<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <title>MELTINGFRAME X SCHOOLZONE</title>
        <!------------- fonts ------------->
        <link rel="stylesheet" type="text/css" href="css/ideation.css.scss">
        <link href="css/font.css" rel="stylesheet" type="text/css"/>
<!------------- GNB --------->
        <header id ="navbar">
            <div class="gnb">
                <div class="gnb_wrap">
                    <h1 class="logo">
                        <a href="#">
                            <img src="https://41.media.tumblr.com/85b87e42a0db68a754bc1dad2be66880/tumblr_nw30ceZIfB1u7iic0o1_400.png" alt="Melti    ng Frame x Schoolzone" alt="Melting Frame x Schoolzone" width="300" height="37">
                        </a>
                    </h1>
                    <ol class="gnb_menu" type="1">
                        <li class="menu_emphasizing">
                            <a href="#">
                                <img src="https://40.media.tumblr.com/ae49e2e132f246ed5712224935807013/tumblr_nw30io0YDJ1u7iic0o1_250.png" alt="공감하기" width="101" height="38">
                            </a>
                        </li>
                        <li class="menu_define">
                            <a href="#">
                                <img src="https://41.media.tumblr.com/8e15e5413f8e0274d775f1de0a8fbe77/tumblr_nw30k8vBJ61u7iic0o1_250.png" alt="문제정의하기" width="101" height="38">
                            </a>
                        </li>
                        <li class="menu_ideation">
                            <a href="#">
                                <img src="https://40.media.tumblr.com/74c73f7cc4938c156c4931ad4133af16/tumblr_nw30m9nen01u7iic0o1_250.png" alt="아이디어내기" width="101" height="38">
                            </a>
                        </li>
                        <li class="menu_prototype">
                            <a href="#">
                                <img src="https://41.media.tumblr.com/43f677f1d77b33ae8ad8cc7510478c95/tumblr_nw30n9OSi71u7iic0o1_250.png" alt="실현하기" width="101" height="38">
                            </a>
                        </li>
                        <li class="menu_user">
                            <a href="#">
                                <img src="https://41.media.tumblr.com/93c11aa44387a9aaf245b2729fd628ca/tumblr_nw30odwvfl1u7iic0o1_75sq.png" width="38" height="38">
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
		</header> 
        <!------ GNB END ------>
<!----- ideation detail s1 --- -->
        <div class="row">
            <div class="col-lg-12" id="ideation_bg">
                <p id="idea_title">"스쿨존의 사각지대를 없애주는 착한 횡단보도"</p>
                <p id="authorname">by 초딩엄마</p><br /><br />
                    <div class="idea_description" id="i-overview-left">
                        <img src="https://41.media.tumblr.com/060dff47d59b62013573c793cea9c4a6/tumblr_nw3ex2VkYE1rm6byyo1_1280.png" id="idea_pic">
                    </div>
                        <div class="idea_description" id="i-overview-right">
                            <br /><br />
                            <p class="i-overview-text">다음 단계로 나아가기 위해, <b>"5개의 좋아요"</b>가 필요해요!</p>
                            <p class="i-overview-text"><img src="https://36.media.tumblr.com/8675f593f480a96520bd7afce59c9a77/tumblr_nw3ex2VkYE1rm6byyo4_100.png" id="like_icon">955 / 1000</p><br />
                            <p class="i-overview-text"><b>어디까지 왔나요</b></p>
                            <p><img src="https://41.media.tumblr.com/6da8af12ec02000181513957764d105b/tumblr_nw3ex2VkYE1rm6byyo3_1280.png"></p><br />
                            <p class="i-overview-text"><b>공유하기</b></p>
                            <p><img src="https://41.media.tumblr.com/101eafdf4bd1cb6378c144686b69ae46/tumblr_nw3ex2VkYE1rm6byyo5_400.png" id="share_btn">
                            <img src="https://36.media.tumblr.com/27fecf6275a8c176a6a08a8d6ab344f3/tumblr_nw3ex2VkYE1rm6byyo6_250.png" id="share_btn">
                            <img src="https://40.media.tumblr.com/afc9f8fbf4851acdab285f7967776860/tumblr_nw3ex2VkYE1rm6byyo7_400.png" id="share_btn"></p><br/>
                            <p class="i-overview-text">아이디어 마감 기한이 <b>5일</b> 남았습니다</p>
                            <br /><br /><br />
                            <img src="https://41.media.tumblr.com/eac3649c4738177493f021baae40ead9/tumblr_nw3ex2VkYE1rm6byyo2_1280.png">
                        </div>
                    <!--- -ideation detail s1 END -->
                    <!-- ideation detail s2 -->
                    <div class="d-left">
                    <div id="idea-path">
                        <p class="mid-title">아이디어 여정 엿보기</p><br />
                        <p class="s-title">어떤 문제에 공감하셨나요?</p>
                        <ul id="problems">
                            <li>스쿨존에 진입했을 때 아이들이 조심해야한다는 인식을 하지 못함</li>
                            <li>스쿨존에 진입한 운전자들이 경각심을 느끼지 못함</li>
                            <li>스쿨존에서 운전자들에게 아이들이 눈에 띄지 않음</li>
                        </ul><br />
                        <p class="s-title">어떤 질문을 선택하였나요?(HMW Question)</p>
                        <p id="hmwq">"어떻게 하면 횡단보도에서 아이들을 더 눈에 띄게 할 수 있을까?"</p>
                        <br /><br />
                    </div>
                    <div id="about-idea">
                        <p class="mid-title">아이디어에 대하여</p><br />
                        <p class="s-title">"아이디어의 첫 제목입니다"</p><br />
                        <p><img src="https://41.media.tumblr.com/060dff47d59b62013573c793cea9c4a6/tumblr_nw3ex2VkYE1rm6byyo1_1280.png" id="idea_pic-2"></p><br />
                        <p class="d-text">저는 아이들의 안전을 위해 바꿀 수 있는 것을 찾던 중, 이런 생각이 들었습니다. 
                        무언가 새로운 것을 설치하는 것도 답일 수 있겠지만 기존의 것을 조금 바꾸어
                        가장 효과적인 대안을 찾을 수 없을까? 그러던 중 생각해 낸 것이 바로 횡단보도를 바꾸자는 것이었습니다.
                        횡단보도를 어떻게 바꾸면 아이들이 무분별하게 뛰지 않고 조심해야겠다는 자각을 할 수 있을지, 스쿨존에
                        진입한 운전자들이 경각심을 떠올리고 조심을 하게 될 것인지 생각해보았습니다.</p>
                        <br />
                        <p class="s-title">"아이디어의 첫 제목입니다"</p><br />
                        <p><img src="https://41.media.tumblr.com/060dff47d59b62013573c793cea9c4a6/tumblr_nw3ex2VkYE1rm6byyo1_1280.png" id="idea_pic-2"></p><br />
                        <p class="d-text">저는 아이들의 안전을 위해 바꿀 수 있는 것을 찾던 중, 이런 생각이 들었습니다. 
                        무언가 새로운 것을 설치하는 것도 답일 수 있겠지만 기존의 것을 조금 바꾸어
                        가장 효과적인 대안을 찾을 수 없을까? 그러던 중 생각해 낸 것이 바로 횡단보도를 바꾸자는 것이었습니다.
                        횡단보도를 어떻게 바꾸면 아이들이 무분별하게 뛰지 않고 조심해야겠다는 자각을 할 수 있을지, 스쿨존에
                        진입한 운전자들이 경각심을 떠올리고 조심을 하게 될 것인지 생각해보았습니다.</p>
                        <br />
                        <p class="s-title">"아이디어의 첫 제목입니다"</p><br />
                        <p><img src="https://41.media.tumblr.com/060dff47d59b62013573c793cea9c4a6/tumblr_nw3ex2VkYE1rm6byyo1_1280.png" id="idea_pic-2"></p><br />
                        <p class="d-text">저는 아이들의 안전을 위해 바꿀 수 있는 것을 찾던 중, 이런 생각이 들었습니다. 
                        무언가 새로운 것을 설치하는 것도 답일 수 있겠지만 기존의 것을 조금 바꾸어
                        가장 효과적인 대안을 찾을 수 없을까? 그러던 중 생각해 낸 것이 바로 횡단보도를 바꾸자는 것이었습니다.
                        횡단보도를 어떻게 바꾸면 아이들이 무분별하게 뛰지 않고 조심해야겠다는 자각을 할 수 있을지, 스쿨존에
                        진입한 운전자들이 경각심을 떠올리고 조심을 하게 될 것인지 생각해보았습니다.</p><br />
                        <p class="s-title">아이디어 실현을 위해 뛰어넘어야 할 제한 사항들</p><br />
                        <ul id="problems">
                            <li>스쿨존에 진입했을 때 아이들이 조심해야한다는 인식을 하지 못함</li>
                            <li>스쿨존에 진입한 운전자들이 경각심을 느끼지 못함</li>
                            <li>스쿨존에서 운전자들에게 아이들이 눈에 띄지 않음</li>
                        </ul><br />
                    </div>
                    <div id="feedback">
                        <p class="mid-title">아이디어 발전시키기</p><br />
</div>
                    </div>
                    <div class="d-right">
                    <div id="idea-process">
                        <p class="mid-title">아이디어 실현 상황</p><br />
                        <div class="idea-process-box">
                            <p class="idea-process-text">다음 단계로 나아가기 위해,<br /><b>"5개의 좋아요"</b>가 필요해요!</p>
                            <p id="like-number"><img src="https://36.media.tumblr.com/8675f593f480a96520bd7afce59c9a77/tumblr_nw3ex2VkYE1rm6byyo4_100.png" id="like_icon">955 / 1000</p>
                        </div>
                        <div class="idea-process-box">
                            <p class="idea-process-text"><b>어디까지 왔나요?</b></p><br />
                            <p><img src="https://41.media.tumblr.com/6da8af12ec02000181513957764d105b/tumblr_nw3ex2VkYE1rm6byyo3_1280.png"></p>
                        </div>
                        <div class="idea-process-box">
                            <p class="idea-process-text"><b>유관기관의 피드백</b></p>
                            <p id="org_name"><img src="https://41.media.tumblr.com/93c11aa44387a9aaf245b2729fd628ca/tumblr_nw30odwvfl1u7iic0o1_75sq.png">기관명 : 서울특별시 경찰청 도로교통과</p>
                            <p id="org_feedback">해당 아이디어는 이러한 피드백을 가지고 있습니다.<br />
                            해당 아이디어의 피드백 내용은 이렇습니다.<br />
                            이곳을 통해 유관기관은 사용자와 소통하며 문제해결에 다가갑니다.</p>
                        </div>
                    </div>
                    </div>
                <!--------------ideation detail s2 END -->
                </div>
            </div>
    </body>
</html>
