<!DOCTYPE html>
<html>
	<head>
		<meta charset= utf-8 />
		<title>Schoolzone</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="text/javascript" src="jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="magneticScroll-1.0.min.js"></script>
		<script>
			$.magneticScroll();
		</script>
	</head>
<body>
				<%= yield :head %>
				<%= javascript_include_tag :application %>

        <script type="text/javascript" src="js/index.js"></script>
        <!----------------- frame --------------------->
        <div class="frame"></div>
        
        <!----------------- GNB --------------------->
        <header id ="navbar">
            <div class="gnb">
                <div class="gnb_wrap">
                    <h1 class="logo">
                        <a href="#">
                            <img src="https://41.media.tumblr.com/85b87e42a0db68a754bc1dad2be66880/tumblr_nw30ceZIfB1u7iic0o1_400.png" alt="Melti    ng Frame x Schoolzone" alt="Melting Frame x Schoolzone" width="300" height="37">
                        </a>
                    </h1>
                    <ol class="gnb_menu" type="1">
                        <li class="menu_emphasizing">
                            <a href="#">
                                <img src="https://40.media.tumblr.com/ae49e2e132f246ed5712224935807013/tumblr_nw30io0YDJ1u7iic0o1_250.png" alt="공감하기" width="101" height="38">
                            </a>
                        </li>
                        <li class="menu_define">
                            <a href="#">
                                <img src="https://41.media.tumblr.com/8e15e5413f8e0274d775f1de0a8fbe77/tumblr_nw30k8vBJ61u7iic0o1_250.png" alt="문제정의하기" width="101" height="38">
                            </a>
                        </li>
                        <li class="menu_ideation">
                            <a href="#">
                                <img src="https://40.media.tumblr.com/74c73f7cc4938c156c4931ad4133af16/tumblr_nw30m9nen01u7iic0o1_250.png" alt="아이디어내기" width="101" height="38">
                            </a>
                        </li>
                        <li class="menu_prototype">
                            <a href="#">
                                <img src="https://41.media.tumblr.com/43f677f1d77b33ae8ad8cc7510478c95/tumblr_nw30n9OSi71u7iic0o1_250.png" alt="실현하기" width="101" height="38">
                            </a>
                        </li>
                        <li class="menu_user">
                            <a href="#">
                                <img src="https://41.media.tumblr.com/93c11aa44387a9aaf245b2729fd628ca/tumblr_nw30odwvfl1u7iic0o1_75sq.png" width="38" height="38">
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
		</header>
        <!------------------- END GNB --------------------->
<!------------------- S1-1 --------------------->
        <div class='magnetic s1-1_bg'>
            <div id="s1-1" class="landing 1st_video_section">
            <div class="video-background-container">
                <video preload="auto" autoplay loop muted class="video-background">
                    <source type="video/mp4" src="videos/gdrive.mp4">
                    <source type="video/ogg" src="videos/gdrive.ogv">
                    <source type="video/webm" src="videos/gdrive.webm">
                </video>
            </div>
		  </div>
          <div class="video_container">
                <div class="video-content-1st text-center">
                        <div class="video-text-1st wow fadeIn" data-wow-delay=".8s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                            <h1 class="video-title-1st">이 사고는&nbsp;누구의&nbsp;잘못일까요?
                            </h1>

                        </div>
                </div>    
            </div>
        </div>
        <!------------------- END S1-1 --------------------->
        <!------------------- S2-1 --------------------->
		<div class='magnetic'>
                <div class="title-space bg-gray">
                    <h2 class="pre-title-txt text-center">사고는, 한 사람만의 잘못이 아닙니다.</h2> 
                    <hr align="center" style=" border: solid 3px #eff0f2; width:55%;">
                    <p class="subtitle-txt" style="text-align: center;">어린이 보호구역(스쿨존)에서의 어린이 교통사고의 원인은 운전자, 어린이, 주변 시설물 등 다양한 이유로 발생합니다.<br>
아래의 각 항목을 눌러 각 원인에서 왜 사고가 발생하는지 알아봅시다. </p>
                    <div class="img3-wrap">
                        <img src="https://36.media.tumblr.com/8d2f6dbd74450a80add950ea98c57a1d/tumblr_nvnc9x7lRY1u47jmpo1_540.png" style="width:220px; height:220px; margin-right:130px;">
                        
                        <img src="https://41.media.tumblr.com/180a41a086976e9f0b329edb519cb35c/tumblr_nvncfhMash1u47jmpo1_540.png" style="width:220px; height:220px; padding-right:130px;">
    
                        <img src="https://41.media.tumblr.com/312ebcce45abd8c94adf7401c917f261/tumblr_nvncjeLjln1u47jmpo1_540.png" style="width:220px; height:220px; ">
                    </div>
                    
                
            </div>
        </div>
        <!------------------- END S2-1 --------------------->
<!------------------- S3-1 --------------------->
        
		<div class='magnetic s3-1_bg'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix">
                <img src="https://36.media.tumblr.com/8d2f6dbd74450a80add950ea98c57a1d/tumblr_nvnc9x7lRY1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
            </div>
            
            <div>
                <h2 class="title-txt" style="text-align: left;">
                    스쿨존 어린이 교통사고의<br>
                    가장 큰 원인은 바로,<br>
                    <span style="background: #faec0b; color: #fff; text-align: left;">운전자들의 안전의식 미비</span>입니다.
                </h2>
            </div>
        </div>
        <!------------------- END S3-1 --------------------->
        <!------------------- S3-2 --------------------->
        
		<div class='magnetic s3-1_bg'>
            <div class="col-md-1" class="no-padding" style="height: 500px; float:left;"></div>
            <div class="col-md-4" class="no-padding" style="height: 500px; float:left;">
                <div class="icon_fix no-padding">
                    <img src="https://36.media.tumblr.com/8d2f6dbd74450a80add950ea98c57a1d/tumblr_nvnc9x7lRY1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left; margin-bottom: 100px;">
                </div>
                <div class="no-padding" style="width:500px; height:200px; float:left;">
                    <ul style="color:#000; text-align:left; float:left;">
                        <li style="font-size:18px; margin-bottom:6px;"> 안전운전 의무 불이행 (33.1%)</li>
                        <li style="font-size:18px; margin-bottom:6px;"> 보호자 보호 의무 위반 (31.8%)</li>
                        <li style="font-size:18px; margin-bottom:6px;"> 신호 위반 (14.4%)</li>
                        <li style="font-size:18px; margin-bottom:6px;"> 과속 (0.9%)</li>
                        <li style="list-style-type:none; ">
                            <p style="color:#000; margin-top:10px; left:-10px; font-size:13px;">출처: 도로교통공단, 어린이교통사고 특성 분석('09-13')</p>
                        </li>
                    </ul>    
                </div>
            </div>
            <div class="col-md-pull-5 no-padding" style="height: 600px; float:left;">
                <div id="myStat" data-dimension="600" data-text="67%" data-info="안전의식 미비" data-width="30" data-fontsize="80" data-percent="67" data-fgcolor="#cb4564" data-bgcolor="#eee" data-fill="#f2ea37" data-total="200" data-part="134" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#000" style="float:left;" class="no-padding">
                </div>
                 
            </div>
            <h2 class="s3-2-title no-padding" style="float:left;">전체 사고 중 <span style="font-size:50px; font-weigh: bold;">약 67%</span>가<br>
                        <span style="font-size:50px; font-weigh: bold;">'운전자의 안전의식 미비'</span>로 인하여 발생하였습니다.
            </h2>        
        </div>
        
        
        <!------------------- END S3-2 --------------------->
        <!------------------- S3-3 --------------------->
        <div class='magnetic s3-3_bg'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix">
                <img src="https://36.media.tumblr.com/8d2f6dbd74450a80add950ea98c57a1d/tumblr_nvnc9x7lRY1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
            </div>
            
            <div>
                <h2 class="title-txt-wh " style="text-align: center;">
                    조금만 주의를 기울였다면<br>
                    일어나지 않을 사고들이었습니다.<br>
                </h2>
                <h5 class="subtxt-s3-3">
                    스쿨존 내의 규정 속도는 시속 30km<br>
                    어린이가 <span style="font-size:39px; font-weight: 700;">시속 30km</span> 차량에 부딪힐 때 중상을 입을 확률 <span style="font-size:39px; color:#f2ea37; font-weight: 700;">5%</span><br>
                    어린이가 <span style="font-size:39px; font-weight: 700;">시속 60km</span> 차량에 부딪힐 때 중상을 입을 확률 <span style="font-size:39px; color:#f2ea37; font-weight: 700;">60%</span><br><br>
                    스쿨존 내 규정 속도 준수는 매우 중요한 문제입니다.
                </h5>    
            </div>
        </div>    
        
        
        
        <!------------------- END S3-3 --------------------->
        <!------------------- S4-1 --------------------->
        
		<div class='magnetic s4-1_bg'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix">
                <img src="https://41.media.tumblr.com/180a41a086976e9f0b329edb519cb35c/tumblr_nvncfhMash1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
            </div>
            
            <div>
                <h2 class="title-txt" style="text-align: left;">
                    "어린이들은 안전하게 자랄 <span style="background: #faec0b; color: #fff; text-align: left;">권리</span>가 있다.<br>
                     어른들은 그 권리를 보호할 <span style="background: #faec0b; color: #fff; text-align: left;">의무</span>가 있다."
                </h2>
                <h5 style="color:#000; text-align: left; font-size:27px; font-weight: 200;">김용만 경남꿈키움학교 교사</h5>
            </div>
        </div>
        
        <!------------------- END S4-1 --------------------->
        <!------------------- S4-2 --------------------->
        
		<div class='magnetic s4-2_bg'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix">
                <img src="https://41.media.tumblr.com/180a41a086976e9f0b329edb519cb35c/tumblr_nvncfhMash1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
            </div>
            
            <div>
                <div class="graph-s4-2" style="float:left;">
                    <img src="https://41.media.tumblr.com/2f3b7ef84271fd79a72e1d8a37eb87c7/tumblr_nvulj2E7yC1u7iic0o1_540.png" style="width:600px; height: 350px;">
                </div>
                <div class="no-padding" style="float:left;">
                    <h2 class="title-txt-wh" style="text-align:left;">사고는<br>
                    하교시간에 집중됩니다.</h2>
                    <h5 class="subtxt-s4-2" style="text-align:left;">스쿨존 내 어린이 교통사고는<br>
                    아이들이 하교하는 14-16시(27.2%), 16-18시(26.2%)에 집중됩니다.<br>
                    대부분 학교에서 교내 안전지킴이 활동이 등교시간에만<br>
                    이루어지는 탓에 하교시간 아이들의 안전에 대한 대책마련이 시급합니다.</h5>
                </div>
            
            </div>
        </div>
        
        
        <!------------------- END S4-2 --------------------->
        <!------------------- S4-3 --------------------->
        
		<div class='magnetic s4-3_bg'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix">
                <img src="https://41.media.tumblr.com/180a41a086976e9f0b329edb519cb35c/tumblr_nvncfhMash1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
            </div>
            
            <div>
                <h2 class="title-txt-s4-3" style="text-align: left;">
                    어린이들은 성인에 비해 돌발행동이 잦고<br>
                    위험대처 능력이 떨어져 교통사고에 쉽게 노출됩니다.
                </h2>
                <h5 style="color:#000; text-align: left; font-size:27px; font-weight: 200;">(초등학교학생의 교통사고 발생특성 빛 요인, 2014)</h5>
            </div>
        </div>
        
        <!-------------------END S4-3 --------------------->
        <!------------------- S4-4 --------------------->
        <div class='magnetic s4-4_bg'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix">
                <img src="https://41.media.tumblr.com/180a41a086976e9f0b329edb519cb35c/tumblr_nvncfhMash1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
            </div>
            
            <div>
                <h2 class="title-txt-wh " style="text-align: center;">
                    아이들이 차도에서 뛰어다닐 때<br>
                    가장 많은 사고 위험에 노출됩니다.<br>
                </h2>
                <h5 class="subtxt-s4-4">
                    일본의 한 연구결과에 따르면 차도에서 뛰는 경우, 천천히 걷는 경우보다 사고위험이 <span style=" color:#f2ea37;">7배</span> 높고,<br>
                    주정차 된 자동차 사이를 뛰어 횡단한 경우, 사고 위험은 <span style=" color:#f2ea37;">18배</span> 높다고 합니다.
                </h5>    
            </div>
        </div>    
        
        <!-------------------END S4-4 --------------------->
        <!------------------- S5-1 --------------------->
        <div class='magnetic s5-1_bg'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix">
                <img src="https://41.media.tumblr.com/312ebcce45abd8c94adf7401c917f261/tumblr_nvncjeLjln1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
            </div>
            
            <div>
                <h2 class="title-txt-wh-s5 " style="text-align: left;">
                    스쿨존은 아이들의 안전을<br>
                    최우선으로 생각하지 않는다?<br>
                </h2>  
            </div>
        </div>   
        <!------------------- END S5-1 --------------------->
        <!------------------- S5-2 --------------------->
        <div class='magnetic'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix_s5-2">
                <div style="float:left; width: 150px; height: 150px; margin-right:60px;">
                    <img src="https://41.media.tumblr.com/312ebcce45abd8c94adf7401c917f261/tumblr_nvncjeLjln1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
                </div>
                <div class="no-padding" style="float:left; position:relative; top:40px;">
                    <div style="float:left width: 40px; float:left; margin-right:20px;">
                        <img src="images/s5-2/left-wrap.png" style="width:12px; height: 40px;">
                    </div>
                    <p class="p-s5-2" style="width:800px; float:left; text-align:left;">
                        또한, 사고 발생 현황 중 20건 이상 집중적으로 사고가 발생하는 스쿨존은<br>
                        대부분 중소도시에 있는 학교들로, 지방으로 갈 수록 대도시에 비해 시설물의 설치가 부족한 경향이 있습니다.
                    </p>
                    <div style="float:left width: 40px; float:left;">
                        <img src="images/s5-2/right-wrap.png" style="width:12px; height: 40px;">
                    </div>
                </div>
            </div>
            
            <div>
                <div class="txt_s5-2 no-padding" style="text-align:left; width: 700px; float:left; position:relative; left:-200px; ">
                    <h5 class="h5-s5-2" style="color:#000; text-align: left; font-size:27px; font-weight:200;">
                        현행 법상 스쿨존 지정 시 사고를 예방하기 위해 과속 방지턱,<br>
                        CCTV, 표지판 등을 설치하게 되어있습니다. 하지만 각 학교의<br>
                        지형, 정문이 아닌 실제 아이들의 통학로 등이 면밀하게 고려되지<br>
                        않은 시설물 설치로 스쿨존 내의 사고 방지 역할을 제대로 하고<br>
                        있지 못한 곳들이 많습니다. 더욱이 이러한 기본적인 안전<br>
                        시설물의 설치조차 되어있지 않은 스쿨존들도 많은 실정입니다.
                    </h5>  
                    <a href="http://harahara.kr:3000/home_home/index#">
                        <h5 style="color:#000; text-align: left; font-size:23px; font-weight: 200; text-decoration: underline;">
                                더 알아보기
                        </h5>
                    </a>
                </div>
                <div style="float: left; position: relative; top:220px; left: -90px;">
                <img src="images/s5-2/schoolzone.png" style="width:600px; height:400px;">
                <p style="text-align:left; color:#000;">
                    <b>김해 진례초등학교 정문</b><br>
                    스쿨존으로 지정된 곳이지만 면사무소 방면에는 안전펜스 등 시설물이 없다.
                </p>
                </div>
            </div>
            
            
        </div>   
        
        <!------------------- END S5-2 --------------------->
        
        
        
        <!------------------- S5-3 --------------------->
        
		<div class='magnetic s5-3_bg'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix">
                <img src="https://41.media.tumblr.com/312ebcce45abd8c94adf7401c917f261/tumblr_nvncjeLjln1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
            </div>
            
            <div>
                <h2 class="title-txt-s5-3" style="text-align: left;">
                    <span style="background-color: black;"> 불법 주정차로 인한 사각지대 형성 </span>
                </h2>
                <h5 style="color:#000; text-align: left; font-size:27px; font-weight: 500; line-height: 37px;"><span style="background-color:#fff;">스쿨존 내 주정차가 금지되어 있지만 아이들을 태우러 온 학부모의 차량이나 학원</span><br>
                    <span style="background-color:#fff;">차량들이 수시로 학교 앞에 정차해 아이들을 태우고 있습니다.</span><br>
                    <span style="background-color:#fff;">이러한 불법 주정차는 스쿨존 내 사각지대를 형성해 운전자의 시야를 가리고</span><br>
                    <span style="background-color:#fff;">예상치 못한 돌발상황을 불러오는 주요요인으로 작용합니다.</span>
                </h5>
            </div>
        </div>
        
        <!------------------- END S5-3 --------------------->

        <!------------------- S5-4 --------------------->
        
		<div class='magnetic'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix">
                <img src="https://41.media.tumblr.com/312ebcce45abd8c94adf7401c917f261/tumblr_nvncjeLjln1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
            </div>
            
            <div style="position:relative; top:40px;">
                <div>
                    <img src="images/s5-4/car_child.png" style="text-align:center width: 900px; height:300px; margin-top:50px;">
                </div>
                <div>
                    <h2 class="title-txt-s5-4" style="text-align: center;">SUV 차량의 평균 높이는 170cm 정도로,<br>
                    신장 150cm 정도인 초등학교 6학년 생도 완전히 가려지게 됩니다.</h2>
                </div>
            
            </div>
        </div>
        
        <!------------------- END S5-4 --------------------->
        <!------------------- S5-5 --------------------->
        
		<div class='magnetic'>
            <div class="col-md-1" style="height: 800px;"></div>
            <div class="icon_fix">
                <img src="https://41.media.tumblr.com/312ebcce45abd8c94adf7401c917f261/tumblr_nvncjeLjln1u47jmpo1_540.png" style="width:150px; height:150px; text-align: left;">
            </div>
            
            <div>
                <h2 class="title-txt-s5-5" style="text-align: left;">
                    학교 상황에 맞지 않는 스쿨존 설계 
                </h2>
                <h5 style="color:#000; text-align: left; font-size:27px; font-weight: 500; line-height: 37px;">현행법상 스쿨존은 300미터까지 지정할 수 있고, 각종 안전 시설물을 설치할 수<br>
                    있다.”라는 권고사항이 있어 이 때문에 실제 대다수의 어린이 보호구역이 아이들의<br>
                    통학로를 기준으로 설정 된 것이 아닌, 학교 담을 둘러싼 범위 정도로 좁게 설정돼있는<br>
                    경우가 많습니다.&nbsp;&nbsp;
                </h5>
                <a href="#">
                    <h5 style="color:#000; text-align: left; font-size:23px; font-weight: 500;">
                            <u>
                                관련 기사 보기
                            </u>
                    </h5>
                </a>
            </div>
        </div>
        <!------------------- END S5-5 --------------------->
        <!------------------- S6-0 --------------------->
        <div class='magnetic s6-0_bg'>
            <h2 class="title-txt-wh-s6 " style="text-align: center;">
                이런 문제상황들로부터 아이들을 지키고자<br>
                스쿨존 내 어린이 교통사고를 줄이기 위한 <span style="background:#faec0b; color:#000;">많은 노력</span>들이 있었고,<br>
                실제로 사고 발생을 줄이는 큰 효과를 거두기도 했습니다.
            </h2> 
        </div>
        <!------------------- END S6-0 --------------------->
        <!------------------- S6-1 --------------------->
        <div class='magnetic' style="background-color:#12c877;">
            
<!--- 1아마존조성 --->
            <div style="width: 400px; height: 400px; position: relative; left: -50px; top:130px; float:left;">
                <a href="#">
                    <img src="https://41.media.tumblr.com/66cbb26932ea1069c82c3f545284b885/tumblr_nvwgy7HQ1P1u7iic0o1_540.png" style="position: relative; width: 400px; height: 400px;">
                </a>
                <div class="subtxt-s6-1" style="position: absolute; top: 180px; left:130px;">아.마.존.조성</div>
            </div>
            
            
<!--- 2모델스쿨존 --->
            <div style="width: 550px; height: 350px; position: relative; left: 50px; top:100px; float:left;">
                <a href="#">
                    <img src="https://41.media.tumblr.com/66cbb26932ea1069c82c3f545284b885/tumblr_nvwgy7HQ1P1u7iic0o1_540.png" style="position: relative; width: 150px; height: 150px;">
                </a>
                <div class="subtxt-s6-2" style="position: absolute; top: 65px; left:230px;">모델스쿨존</div>
            </div>
            
            
<!--- 3CCTV설치 --->
            <div style="width: 350px; height: 350px; position: relative; left: 50px; top:170px; float:left;">
                <a href="#">
                    <img src="https://41.media.tumblr.com/66cbb26932ea1069c82c3f545284b885/tumblr_nvwgy7HQ1P1u7iic0o1_540.png" style="position: relative; width: 240px; height: 240px;">
                </a>
                <div class="subtxt-s6-3" style="position: absolute; top: 100px; left:120px;">CCTV설치</div>
            </div>
            
            
<!--- 4사각사각 --->
            <div style="width: 400px; height: 400px; position: relative; left: 50px; top:80px; float:left;">
                <a href="#">
                    <img src="https://41.media.tumblr.com/66cbb26932ea1069c82c3f545284b885/tumblr_nvwgy7HQ1P1u7iic0o1_540.png" style="position: relative; width: 300px; height: 300px;">
                </a>
                <div class="subtxt-s6-4" style="position: absolute; top: 130px; left:150px;">사각사각</div>
            </div>
            
            
<!--- 5노상주차장폐지 --->
            <div style="width: 350px; height: 350px; position: relative; left: 200px; top:100px; float:left;">
                <a href="#">
                    <img src="https://41.media.tumblr.com/66cbb26932ea1069c82c3f545284b885/tumblr_nvwgy7HQ1P1u7iic0o1_540.png" style="position: relative; width: 300px; height: 300px;">
                </a>
                <div class="subtxt-s6-5" style="position: absolute; top: 130px; left:100px;">노상주차장폐지</div>
            </div>
            
            
<!--- 6워킹스쿨버스 --->
            <div style="width: 400px; height: 400px; position: relative; left: 300px; top:-120px; float:left;">
                <a href="#">
                    <img src="https://41.media.tumblr.com/66cbb26932ea1069c82c3f545284b885/tumblr_nvwgy7HQ1P1u7iic0o1_540.png" style="position: relative; width: 400px; height: 400px;">
                </a>
                <div class="subtxt-s6-4" style="position: absolute; top: 170px; left:90px;">워킹스쿨버스<br>
                <span style="font-weight:300; font-size:24px;">
                    (Walking Schoolbus)
                </span></div>
            </div>
            
            
<!--- 7엄마손캠페인 --->
            <div style="width: 500px; height: 500px; position: relative; left: 550px; top:0px; float:left;">
                <a href="#">
                    <img src="https://41.media.tumblr.com/66cbb26932ea1069c82c3f545284b885/tumblr_nvwgy7HQ1P1u7iic0o1_540.png" style="position: relative; width: 550px; height: 550px;">
                </a>
                <div class="subtxt-s6-7" style="position: absolute; top: 210px; left:135px;">'엄마손 들고<br>
                안전하게 길 건너기'<br>
                캠페인</div>
            </div>
            
            
            
        </div>
        <!------------------- END S6-1 --------------------->
        <!------------------- S7-1 --------------------->
        <div class='magnetic' style="background-color:#165682;">
            <div style="width:850px; float:left; margin-left:200px; margin-top: 200px;">
                <h2 class="title-txt-s7" style="text-align: left;">
                    하지만,<br>
                    이러한 개선 노력에도 불구하고<br>
                    아직 문제는 완전히 해결된 것이 아닙니다.
                </h2>
            </div>
            <div style="width: 600px; float:left; margin-left:20px; margin-top:200px;">
                <img src="https://40.media.tumblr.com/d7156e259a6c154585a1793e3fc37c92/tumblr_nvwei6Lteg1u7iic0o1_540.png" style="width:450px; height:450px; position:relative; top: 50px;">
            </div>
        </div>
        <!------------------- END S7-1 --------------------->
        <!------------------- S7-2 --------------------->
        
        <div class='magnetic s7-2_bg'>
            <div class="graph-s7 no-padding no margin">
            </div>
            <div class="titlebox-s7-2">
                <h2 class="title-txt-s7-2" style="text-align: left;">
                    스쿨존 내 어린이 교통사고 숫자
                </h2>
                <h5 class="h5-s5-2 no-padding" style="color:#fff; text-align: left; font-size:27px; font-weight:200; line-height: 38px;">    
                2011년부터 2013년까지 지자체, 민간의 노력으로<br>
                    어린이 교통사고가 하락하였으나 2013년부터 다시 증가함을 볼 수 있습니다.<br><br>
                    <u>
                    각 연도에 마우스를 오버해 더 자세한 정보를 얻어보세요.
                    </u>
                </h5>
            </div>    
        </div>
        <!------------------- END S7-2 --------------------->
        
        <!------------------- S8-0 --------------------->
        <div class='magnetic s8-0_bg'>
            <div style="margin-top:40px;">
                <h2 class="title-txt-s8-0" style="text-align: center;">
                    그렇다면,<br>
                    이젠 <span style="background:#2e3192">우리가</span> 바꾸어보는 건 어떨까요?
                </h2>
                <h5 style="text-decoration:underline; color:#fbe74f; font-size:30px; font-weight:600;">왼쪽 손을 끌어서 하이파이브를 해주세요!
                </h5>
            </div>
            
            
        </div>
        <!------------------- END S8-0 --------------------->
        <!------------------- S8-1 --------------------->
        
        <div class='magnetic' style="background-color:#ff8052;">
            <div style="margin-top:50px;">
                <img src="https://40.media.tumblr.com/32a2d6a6e972663111f24d3ef581e46c/tumblr_nvxvvmH3Vt1u7iic0o1_540.png" style="text-align:center; width:400px; height:400px;">

                <h2 class="title-txt-s8-1" style="text-align: center; font-size: 65px;">
                    <span style="background:#2e3192; font-size: 90px;">
                        좋아요!
                    </span><br>
                    그럼 이제 함께 시작해볼까요?
                </h2>
            </div>
            <h5 style="text-decoration:underline; color:#fcd050; font-size:25px; font-weight:600;">스크롤을 내려 시작하기
                </h5>
        </div>
        
        <!------------------- END S8-1 --------------------->
        <!---------------- S8-2 ------------------->
        <div class='magnetic' style="background-color:#ff8052;">
            <div style="margin-top:100px;">
                <h2 class="title-txt-s8-2" style="text-align: center;">
                        우선, 스쿨존 내에서 어린이 교통사고를 유발하는<br>
                        문제점들을 찾아 적어봅시다.
                </h2>
                <h5 style="font-size:22px;">
                    <span style="text-decoration:underline">
                        문제점 찾기에서 유의할 점!
                    </span> - 진짜 '문제'가 되는 문제점인지를 꼭 따져주세요.</h5>
            </div>
            <!--입력창-->
            <div class="form-style">
                <form>
                    <label for="addfield">
                        
                    </label>
                </form>
                    <input type="submit" value="추가" >
                <a href="#">
                    <img src="https://41.media.tumblr.com/22b042109c2f9fab1c9e3f02a01fcd28/tumblr_nvxyg4zFEz1u7iic0o1_540.png" style="width:170px; height:120px;">
                </a>
            </div>
        </div>
        
        <!------------------ END S8-2 --------------------->
 <!----------------- S3-2 chart_circliful --------------->
        <script>
        $( document ).ready(function() {
                $('#myStat').circliful();
            });
        </script>
        
	</body>
</html>
